---
import Layout from "@/layouts/layout.astro";
import { ExampleCard } from "@/components/react/composeds/card";
import { ExempleBasics } from "@/components/react/composeds/basics";
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { ExempleTable } from "@/components/react/composeds/table";
import { InstallInstructions } from "@/components/install-instructions";
import { Hero } from "@/components/hero";
import { Badge } from "@/components/ui/badge";
import { Separator } from "@/components/ui/separator";

const api = [
  {
    prop: "loading",
    type: "boolean",
    default: "—",
    description:
      "Enables or disables the loading state. When true, renders the skeletons.",
  },
  {
    prop: "keepMountOnLoading",
    type: "boolean",
    default: "false",
    description:
      "Keeps the original content mounted during loading (useful to avoid reflows or loss of component state if necessary). 'Not recommended'",
  },
  {
    prop: "maxDepth",
    type: "number",
    default: "10",
    description:
      "Limits the maximum depth of the DOM tree parsed to generate skeletons.",
  },
  {
    prop: "mode",
    type: "performance or { resize?: boolean, scroll?: boolean, mutation?: boolean, mutationResize?: boolean }",
    default: "performance",
    description:
      " Defines the operating mode: • performance: static ----- • object: activates dynamic listeners to update skeletons according to events.",
  },
  {
    prop: "children",
    type: "React.ReactElement | React.ReactElement[]",
    default: "—",
    description:
      "The content that will be displayed or that will serve as the basis for the skeletons.",
  },
];
---

<Layout>
  <Hero
    version="0.4.0"
    title="Smart Skeleton"
    infos={[
      "The SmartSkeleton component is a powerful and automatic way to display loading states. Instead of manually creating skeletons for each component, SmartSkeleton intelligently mirrors the visual layout of its children and replaces them with shimmer placeholders.",
      "This component is designed to be used with any component, and it will automatically detect the layout and replace it with a skeleton. This means that you can use it with any component, and it will work out of the box.",
      "Is a great way to improve the user experience of your application by providing a smooth loading experience. It is also a great way to reduce the amount of code you need to write, as it automatically generates the skeletons for you.",
      "Avoid layout jumps (CLS) and provide visual feedback with smart placeholders.",
    ]}
    ]
  />
  <InstallInstructions componentName="smart-skeleton-react" client:load />

  <div class="mt-8">
    <h3 class="text-xl font-bold mb-4">Examples: Basic usage</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 rounded overflow-hidden">
      <div>
        <p class="mb-4 text-muted-foreground">
          This exemples show how to use the SmartSkeleton component with a card
          component. The card is a simple component that shows a title, a
          description, and an image. The SmartSkeleton component is used to show
          a loading state while the content is being loaded.
        </p>
        <ExampleCard client:load />
      </div>
      <div>
        <p class="mb-4 text-muted-foreground">
          This exemples show how to use the SmartSkeleton component with a card
          component. The card is a simple component that shows a title, a
          description, and an image. The SmartSkeleton component is used to show
          a loading state while the content is being loaded.
        </p>
        <ExempleBasics client:load />
      </div>
    </div>
  </div>
  <div class="mt-8">
    <h3 class="text-xl font-bold mb-4">Examples: Complex usage</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 rounded overflow-hidden">
      <div>
        <p class="mb-4 text-muted-foreground">
          This is a complex table example that shows how to use the
          SmartSkeleton component with a table component, notice that the usage
          is the same as the basic example, but the the table component is more
          complex and has more nodes. Meaning that the SmartSkeleton component
          will automatically detect the layout and replace it with a skeleton.
        </p>
        <ExempleTable client:load />
      </div>
    </div>
  </div>
  <h4 class="mt-8">🛠 Style Customization</h4>
  <div
    class="flex flex-col gap-4 items-start mt-2 bg-muted p-4 rounded-md font-mono text-sm text-muted-foreground"
  >
    Important: Import the CSS file in your main file (e.g., index.tsx or
    App.tsx) to ensure the skeletons are styled correctly.
    <br />
    <span> import '@ela-labs/smart-skeleton-react/index.css'; </span>
  </div>
  <Separator className="my-4" />
  OR
  <div
    class="flex flex-col gap-4 items-start mt-2 bg-muted p-4 rounded-md font-mono text-sm text-muted-foreground"
  >
    You can also customize the skeleton styles by overriding the CSS variables
    in your CSS file. Here are the default values:
    <br />
    <span
      >{
        `.skeleton-shimmer {
      position: relative !important;
      background-color: #d1d5db !important; /* gray-300 */
      overflow: hidden !important;
      border-radius: 6px !important;
    }`
      }
    </span>
    <br />
    <span
      >{
        `
        .skeleton-shimmer::after {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        transform: skewX(-20deg);
        animation: shimmer-move 1.6s infinite ease-in-out;
      }
    }`
      }</span
    >
    <br />
    <span
      >{
        `
    
@keyframes shimmer-move {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
    `
      }</span
    >
    <br />
  </div>
  <Table className="mt-12">
    <TableCaption>Component API</TableCaption>
    <TableHeader>
      <TableRow>
        <TableHead>Prop</TableHead>
        <TableHead>Type</TableHead>
        <TableHead>Default</TableHead>
        <TableHead>Description</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      {
        api?.map((a, i) => (
          <TableRow key={i}>
            <TableCell>
              <Badge variant="secondary">{a.prop}</Badge>
            </TableCell>
            <TableCell>
              <Badge variant="secondary">{a.type}</Badge>
            </TableCell>
            <TableCell>
              <Badge variant="secondary">{a.default}</Badge>
            </TableCell>
            <TableCell className="text-left min-w-lg max-w-lg whitespace-normal">
              {a.description}
            </TableCell>
          </TableRow>
        ))
      }
    </TableBody>
  </Table>
</Layout>
